*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #E3E3E3
}
#container,
#page-wrapper {
  width: 1333px;
  height: 750px;
  background: #FFFFFF;
  border: 1px solid #000000
}
#remoteVideoFrontal {
  height: 450px;
  width: 800px;
  margin: 25px;
  float: left;
  border: 1px solid #000000
}
#localVideo {
  height: 200px;
}
body {
  width: 200px;
  height: 200px;
}
#localVideoPanel {
  height: 202px;
  width: 358px;
  margin: 25px;
  position: relative;
  border: 1px solid #000000;
}
#robotIcon {
  display: none;
  margin: auto;
}
#menuMessage {
	display: block;
	text-align: center;
	font-size: 0.75rem;
}
.LOGOS {
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 30px;
  margin-right: 0px;
}
.EFECTOS {
  position: absolute;
  left: 910px;
  top: 170px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 100px;
}
#communicationPanel {
  float: left;
  width: 850px;
}
#sendButton {
  width: 70px;
  height: 30px;
  margin-top: 25px;
  background: #1E90FF;
  border-bottom: 1px solid #7d7d7d;
}
#dataChannelSend {
  margin: 25px;
  width: 700px;
  font-size: 1.5em;
  float: left;
}
#control {
  float: left;
}
#controlPanel {
  margin: 25px;
  margin-left: 60px;
  /*border: 1px solid #000000;*/
  float: left;
}
#intensity {
  width: 200px;
  margin-left: 25px;
}
#intensityLabel {
	  color: #E3E3E3;
}
#buttons,
button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 1rem;
  background: #E3E3E3;
  border-bottom: 1px solid #E3E3E3;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 1px;
  width: 90px;
  height: 50px;
  text-align: center;
}
table.emotions {
  margin-bottom: 25px;
}
h1 {
  margin-top: 0;
}
#msg {
  font-size: 0.9em;
  line-height: 1.4em;
}
#msg.not-supported strong {
  color: #CC0000;
}
input[type="range"] {
  width: 90px;
}
.option {
  margin: 1em 0;
}
button:hover,
button:focus {
  opacity: 0.75;
  cursor: pointer;
}
button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}
}
#remoteVideo {
  height: 200px;
}
.hidden {
  display: none;
}
